@media only screen and (max-width:991px) {
    .directcontactme {
        margin-top: 55px
    }
}

@media only screen and (max-width:767px) {
    h1 {
        font-weight: 600;
        font-size: 40px
    }
    h2 {
        font-weight: 600;
        font-size: 35px
    }
    h3 {
        font-weight: 600;
        font-size: 30px
    }
    .animated-text b {
        font-weight: 500;
        font-size: 40px
    }
}

@media only screen and (max-width:575px) {
    h1 {
        font-weight: 600;
        font-size: 30px
    }
    h2 {
        font-weight: 600;
        font-size: 30px
    }
    h3 {
        font-weight: 600;
        font-size: 25px
    }
    .welcome {
        padding: 0;
        padding-top: 150px
    }
    .animated-text {
        margin: 30px 0
    }
    .animated-text b {
        font-weight: 500;
        font-size: 25px
    }
    .btn a {
        padding: 5px 2px
    }
    .testimonials img {
        float: none
    }
    .client-says {
        margin-left: 0;
        text-align: center
    }
    .title-details {
        font-size: 16px;
        font-weight: 500
    }
    .section-details {
        width: 80%;
        margin: 0 auto;
        margin-top: 50px
    }
    .animated-text {
        margin: 0px;
   }
    .welcome .btn {
        padding-bottom: 50px;
   }
}